
body{
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}
nav{
    background-color: rgb(135, 8, 177);
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin: -20px  -20px 0px  -20px;
}

#logo{
    width: 150px;
    height: 50px;
    margin: 0px 30px -10px 0px;
}
nav ul{
    margin-left: 10%;

}
nav ul li{
    display: inline-block;
    font-size: 20pt;
   font-family: Arial, sans-serif;
    font-weight: lighter;
    margin-right: 15px;
    color: #ffffff;
    list-style-type: none;
    position: relative;
}
nav ul li:hover{
    text-decoration: underline;

}   

.icons{
    height: 30px;
    width: 30px;
}

.dropdwn{
    display:none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(50, 50, 50, 0.2);
    z-index: 1;
}

.dropdwn li{
    color: rgb(38, 38, 38);
    padding: 15px 0px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(209, 209, 209);
  
}

.bscreen:hover .dropdwn{
    display: block;
}
.dropdwn li:hover{
    text-decoration: none;
    font-weight: 600;
    background-color: rgb(255, 250, 250);
}

ul .last-item{
    font-weight: 700;
    color: blue;

}
.dropdwn li label{
    float: left;
}
.track{
    border: none;
    height: 90px;
    width: 300px;
}
.track:focus{
    border-left: 10px solid  rgb(191, 0, 255) ;
}

.t-btn{
    height: 80px;
    width: 250px;
    background-color: #ff6200;
    font-weight: bold;
    font-size: 40pt;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.bars{
    height: 30px;
    width: 30px;
    display: none;
    mix-blend-mode: color-burn; 

}


.midbody{
    background-image: url('./images/bg1.jpeg');
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0% -10%;
}

.mheading{
    margin: 5%;
    font-size: 400%;
    color: white;
    text-align: center;
}
.mb-btn{
    display: flex;
    justify-content: center;
    margin: 5%;
}
.mb-btn button{
    background-color: #ffffff;
    border: none;
    border-left:1px solid grey;
    height: 130px;
    width: 160px;
}
.mb-btn button>img{
    height: 70px;
    width: 70px;
}
.mb-btn button:focus{
    background-color:  rgb(191, 0, 255);
    color: white;
    padding: 10px;
    width: 150px;
    height: 150px;
    margin: -10px;
    border: none;
    z-index: 9;
}
.midbody>.mb-btn>.checked:enabled{
    background-color:   rgb(191, 0, 255) ;
}
.mb-track{
    display: flex;
    justify-content: center;
}
.track2{
    background-color: #e7e6e6;
    font-size: 20pt;
    font-weight: 300;
    padding: 0px 10px 0px;
    height: 70px;
    width: 450px;
    border: none;
}
.mb-track>.track2:focus{
    border-left: 10px solid #ff6200;
}
.t-btn2{
    background-color:#ff6200;
    color: #ffffff;
    font-size: 30pt;
    padding: 0px 20px;
    font-weight: 700;
    margin-left: 2px;
    border: none;
    height: 70px;
    width: 200px;
}
.t-text{
    color: white;
    font-size: 15pt;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
#middleline{
    font-weight: bold;
    font-size: large;
    text-align: center;
    border-bottom: 1px solid rgb(191, 0, 255);
    padding-bottom: 2%;
    color: #272727;
}
.smallbusiness{
  margin: 0%  15%;
  height: 350px;
  width: 1000px;
  
  
}
.smallb-h{
    font-size: 36pt;
    font-weight: 400;
    text-align: left;
    width: 50%;
    line-height: 1.0;
}
.smallb-p{
    color: #4c4c4c;
    margin-top: -2%;
    font-size: 19pt;
    font-weight: 100;  
    width: 45%;
}
.smallb-btn{
     background-color: transparent;
     padding: 15px 30px;
     border: 2px solid #007ab7;
     border-radius: 40px;
     color: #007ab7;
     font-size: 12pt;
     font-weight: bold;
     cursor: pointer;
}
.smallb-btn:active{
    background-color: #007ab7;
    color: #fafafa;
}
.smallb-img{
    float: right;
    margin-right: 10%;
    margin-top: -30%;
    height: 300px;
    width: 350px;
}
.links>h3{
    text-align: center;
    font-size: 36pt;
    font-weight: 100;
    color: #444444;
    letter-spacing:  .1em;
}

.links>ul{
    list-style: none;
    display: inline-flex;
}
.links>ul>li{
   margin-left: 12%;
  
}
.links>ul>li>p{
    font-size: 15pt;
    text-transform: uppercase;
}
.trophy{
    margin: 10% 10%;
    text-align: left;
}
.logo2{
    height: 40px;
    width: 100px;
}
.trophy>h3{
    font-size: 20pt;
    width: 50%;
}
.trophy>p{
    width: 50%;
    font-size: 18pt;
}

.trophy> .trophy-pic{
    float: right;
    margin-top: -20%;
}

.trophy>a{
    text-decoration: none;
    font-size: 18pt;
    color:rgb(69, 69, 230);
}

.trophy>a:hover{
    text-decoration: underline;
}
.container{
    display: flex;
    justify-content: space-around;
}
.container>.sb-grant>img ,  .container>.miracle>img{
    width: 500px;
}
.container>.sb-grant>h3 ,  .container>.miracle>h3{
       width: 50%;
       font-size: 20pt;
}
.container>.sb-grant>p , .container>.miracle>p{
     font-size: 18pt;
}
.container>.sb-grant>a , .container>.miracle>a{
    font-size: 18pt;
    text-decoration: none;
    color: #007ab7;
    font-weight: 600;
}
.container>.sb-grant>a:hover , .container>.miracle>a:hover{
    text-decoration: underline;
}

.sb-grant, .miracle{
    margin-left: 5%;

}
.nonprofit{
    background-image: url(./images/products-fedex-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    margin-left: 22%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.text{
    width: 288px;
    background-color: #fafafaac;
    padding: 15px;
}

.text>h6{
    font-weight: 100;
    font-size: 20pt;
    margin: 15px;
}
.text>p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    max-width: inherit;
   
}
.text>button{
    color:#0a5377;
    border:3px solid #0a5377;
    border-radius: 30px;
    padding: 20px;
    background-color: transparent;
}
.text>button:active{
   background-color: #0a5377;
   color: white;
   border:4px solid #fafafa;
}

hr{
    width: 80%;
}

/*footer*/
.footer-top{
    margin: 0% -5%;
    padding: 10px 0px 50px 0px;
}

.footer-top th{
    color: darkblue;
    font-size: 18pt;
    font-family:'Times New Roman', Times, serif 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    padding: 20px 0px 30px 0px;
}
.footer-top td{
    font-size: 16pt; 
    padding: 7px;
    
}
.globe-icon{
    height: 20px;
    width: 20px;
}
.upper-footer{
    display: inline-block;
    margin: 0% 10%;
   
}
.Lanuage{
    height: 75px;
    width: 200px;
    font-size: larger;
    background-color:#ffffff00;
    padding: 5px;
    border:1px solid #4c4c4c;

}

.socialmedia tr td img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    
}

.socialmedia{
    margin-left: 5%;
}
.last-footer{
    background-color: purple;
    color: white;
    margin: -20px;
    padding: 20px;
    text-align: center;
   position: absolute;
   width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
.last-footer p{
    float: left;
}

.last-footer ul li{
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    border-left: 1px solid white;
    padding: 10px;

}
.last-footer ul{
    float: right;
}

@media screen and (min-width: 601px) and (max-width:1024px) {
    nav .bscreen, nav .login-t{
        display: none;
    }
    
    .logo{
        float: left;
    }
    .bars{
        display: block;
        float: right;
    }
    .mb-track{
        margin: 0 20% 0% 15%;
    }
    .links>ul{
        display: block;
    }
    .smallb-img{
        display: none;
    }
    .smallbusiness{
        display: block;
        justify-content: center;
        background-color: #1a0880;
        border-radius: 10px;
        padding: 10px;
        margin: 0%;
        height: fit-content;
        width: fit-content;
    }
    .smallb-h{
        text-align: center;
        color: #fafafa;
        width: 100%;
    }
    .smallb-p{
        color: #fafafa;
        text-align: center;
        width: 100%;
    }
   .smallb-btn{
       margin-left: 30%;
       color: #fafafa;
       border-color: #fafafa;
   }
   .trophy{
    display: grid;
   }
  .trophy>.trophy-pic{
     float: none;
     margin: 0%;
  }
   .container{
    display: block;
   }
   
}
@media screen and (min-width: 481px) and (max-width:600px) {
    nav .bscreen, nav .login-t{
        display: none;
    }
    
    .logo{
        float: left;
    }
    .bars{
        display: block;
        float: right;
    }
    .upper-footer{
         margin: 0% 10%;
        
    }
    .mb-track{
        margin: 0% 2% 0% 5%;
        flex-flow: column;
    }
    .links>ul{
        display: block;
    }
    .smallbusiness{
        display: block;
        justify-content: center;
        background-color: #1a0880;
        border-radius: 10px;
        padding: 10px;
        margin: 0%;
        height: fit-content;
        width: fit-content;
    }
    .smallb-h{
        text-align: center;
        color: #fafafa;
        width: 100%;
    }
    .smallb-p{
        color: #fafafa;
        text-align: center;
        width: 100%;
    }
   .smallb-btn{
       margin-left: 30%;
       color: #fafafa;
       border-color: #fafafa;
   }
   .smallb-img{
      display: none;
   }
   .trophy{
    display: grid;
   }

  .trophy>.trophy-pic{
     float: none;
     margin: 0%;
  }
  .container{
    display: block;
  }
 

}

@media screen and (max-width:480px) {
    nav .bscreen, nav .login-t, .search{
        display: none;
    } 
    .bars{
        display: block;
        float: right;
    }
    .upper-footer{
        margin-left: 2%;
    }
    .upper-footer td{
        padding: 2%;
    }
    nav ul{
        margin-left: 0%;
    }
    .mb-track{
       
        margin: 0% 20%;  
        flex-flow: column;
    }
    .t-btn2, .track2{
        width: 250px;
    }
    .links>ul{
        display: block;
    }
    .smallbusiness{
        display: block;
        justify-content: center;
        background-color: #1a0880;
        border-radius: 10px;
        padding: 10px;
        margin: 0%;
        height: fit-content;
        width: fit-content;
    }
    .smallb-h{
        text-align: center;
        color: #fafafa;
        width: 100%;
    }
    .smallb-p{
        color: #fafafa;
        text-align: center;
        width: 100%;
    }
   .smallb-btn{
       margin-left: 30%;
       color: #fafafa;
       border-color: #fafafa;
   }
   .smallb-img{
    display: none;
   }
   .trophy{
    display: grid;
   }
  .trophy>.trophy-pic{
     float: none;
     margin: 0%;
  }
  .container{
    display: block;
  }
  .nonprofit{
    background-image: none;
  }

}

